@use 'sass:color'
    
$dark: #2A3947
$darker: #1E2A35
$darkest: #0d1e32
$offwhite: #d5d5d5
$grey: #aabfd1
$highlight: #ffcc67fb
$highlight_light: #f8d794fb
$highlight_bold : #ffcc67fb
$link: rgb(173, 136, 255)
$h4color: #f4d392fb
$salmon: #fb835f
$green: #6bce70
$lightblue: #58b4ff
$lilla: #a98cdf

body
    background-color: $dark !important
    min-height: 100vh
    min-width: 100vw
    font-family: Rosario
    color: white
    font-size: 1.0rem
    cursor: default
    text-align: justify
    text-justify: inter-word

    a
        color: white
        font-weight: 800

    a:hover
        color: $highlight
        font-weight: 900
        text-decoration: underline

.footer
    background-color: $darker !important
    margin: 8em 0 0 0
    padding: 1rem
    border-top: 1px solid rgb(200, 200, 200)

    a
        max-width: 120px !important
        display: inline-block

/* -------------------------------------------------------------------------- */
/*                               global elements                              */
/* -------------------------------------------------------------------------- */

.name-txt
    font-family: Cormorant Upright
    
// ! option for highlights with an underline only
// .highlight, .highlight-green, .highlight-salmon, .highlight-lightblue, .highlight-black, .highlight-white,.highlight-darker
//     font-weight: 750

// .highlight-salmon
//     color: $salmon !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 $salmon
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
// .highlight-black
//     color: black !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 black
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
// .highlight-white
//     color: white !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 white
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
// .highlight
//     color: $highlight !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 $highlight
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
// .highlight-green
//     color: $green !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 $green
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
// .highlight-lightblue
//     color: $lightblue !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 $lightblue
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
// .highlight-darker
//     color: $darker !important
//     box-shadow: inset 0 -0.05em $dark, inset 0 -0.2em 0 0 $darker
//     text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 



.highlight, .highlight-green, .highlight-salmon, .highlight-lightblue, .highlight-black, .highlight-white,.highlight-darker
    color: $dark !important
    font-weight: 550
    // border-radius: 5px 5px 2px 2px
    padding: 0.05em 0.2em

.highlight-salmon
    // background-color: color.adjust($salmon, $alpha: -0.1, $saturation: -10, $lightness: 15) !important
    color: white !important
    box-shadow: inset 0 -0.01em $dark, inset 0 -0.2em 0 0 color.adjust($salmon, $saturation: 20, $lightness: -5) 
    text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
.highlight
    // background-color: color.adjust($highlight, $alpha: -0.1, $saturation: -10, $lightness: 15) !important
    color: white !important
    box-shadow: inset 0 -0.01em $dark, inset 0 -0.2em 0 0 color.adjust($highlight, $saturation: 40, $lightness: -10) 
    text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
.highlight-green
    // background-color: color.adjust($green, $alpha: -0.1, $saturation: -10, $lightness: 15) !important
    color: white !important
    box-shadow: inset 0 -0.01em $dark, inset 0 -0.2em 0 0 color.adjust($green, $saturation: 20, $lightness: -5) 
    text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
.highlight-lightblue
    // background-color: color.adjust($lightblue, $alpha: -0.1, $saturation: -10, $lightness: 15) !important
    color: white !important
    box-shadow: inset 0 -0.01em $dark, inset 0 -0.2em 0 0 color.adjust($lightblue, $saturation: 20, $lightness: -5) 
    text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
.highlight-darker
    background-color: color.adjust($darker, $alpha:-0.5,   $lightness: -1) !important
    color: white !important
    box-shadow: inset 0 -0.01em $dark, inset 0 -0.2em 0 0 color.adjust($darker, $saturation: 20, $lightness: -5) 
    text-shadow: -1px -1px $dark, -1px 1px $dark, 1px -1px $dark, 1px 1px $dark 
    color: white !important

.highlight-black
    // background-color: black !important
    color: black !important
.highlight-white
    // background-color: white !important
    color: white !important

.textaccent
    color: $highlight !important
    font-weight: 900
    text-decoration: underline

.text-green
    color: $green !important
    font-weight: 900
    text-decoration: underline



.sep-line
    height: 3px
    border-radius: 3px
    background-color: rgb(200, 200, 200)
    width: 100%

.fancy-title
    font-family: DM Serif Display
    font-size: 5rem
    color: white
    margin-left: 2rem
    margin-top: 1.5em
    font-weight: 900

    @media screen and (max-width: 600px)
        font-size: 3rem
        margin-left: 12px

    
.img-and-text
    width: 80%
    margin: 2em auto

    img
        max-width: 250px
        max-height: 250px
        border-radius: 10px
        display: inline-block
        vertical-align: middle
    
    p
        display: inline-block
        vertical-align: top
        font-size: 1.3rem
        vertical-align: middle
        margin: 0 3rem
        width: calc(80% - 250px)

    @media screen and (max-width: 600px)
        width: 95%
        margin: 2em auto

        img
            max-width: 100%
            max-height: 100%
            border-radius: 10px
            display: block
            margin: 0 auto

        p
            display: block
            vertical-align: top
            font-size: 1.3rem
            vertical-align: middle
            margin: 0 0
            width: 100%

.img-bg-white
    background-color: white !important

.float-right
    float: right
    margin-left: 4em
    margin-right: 4em
    // justify content
    display: flex
    flex-direction: row
    justify-content: right


.float-left
    float: left
    margin-left: 4em
    margin-right: 4em
    display: flex
    flex-direction: row
    justify-content: left


.center-img-text-around
    position: relative
    text-align: center
    padding: 2em

    // plage img at center
    img
        display: block
        margin: 2em auto 2em auto
        width: 20%
        box-shadow: 0 0 1000px 20px rgba(255, 255, 255, 0.1)

    // top-left text
    .top-left
        position: absolute
        top: 0
        left: 0
        margin-left: 2em
        padding-right: 2em
        margin-top: 1em
        text-align: left

    // bottom-right text
    .bottom-right
        position: absolute
        bottom: 0
        right: 0
        margin-right: 2em
        padding-left: 2em
        margin-bottom: 1em
        text-align: right

    // top-right text
    .top-right
        position: absolute
        top: 0
        right: 0
        margin-right: 2em
        padding-left: 2em
        margin-top: 1em
        text-align: right

    // bottom-left text
    .bottom-left
        position: absolute
        bottom: 0
        left: 0
        margin-left: 2em
        margin-bottom: 1em
        padding-right: 2em
        text-align: left

    p
        font-size: 1.5rem
        font-weight: 900
        color: white
        margin: 0.5em 0 0.5em 0
        width: 40%

    // on mobile show image on top and texts stacked vertically
    @media screen and (max-width: 900px)
        img
            width: 50%
            margin: 2em auto 2em auto

        p
            font-size: 1.2rem
            margin: 0.5em 0 0.5em 0
            width: 95% !important

        .top-left
            position: relative
            margin: 0
            margin-top: 1em
            padding: 0

        .bottom-right
            position: relative
            margin: 0
            margin-top: 1em
            padding: 0

        .top-right
            position: relative
            margin: 0
            margin-top: 1em
            padding: 0

        .bottom-left
            position: relative
            margin: 0
            margin-top: 1em
            padding: 0



.narrow
    width: 80% !important
    margin-left: auto !important
    margin-right: auto !important

    max-width: 1200px !important

    // wider on mobile
    @media screen and (max-width: 600px)
        width: 95% !important
        margin: 0 12px !important

.unselectable
    cursor: default
    

.vert-on-mobile
    // to the right
    display: flex
    flex-direction: row
    justify-content: right
    align-items: left

    span
        margin-right: 0.5em

    // on mobile, stack vertically
    @media screen and (max-width: 600px)
        flex-direction: column
        justify-content: center
        align-items: center


.note-white, .note-salmon, 
.note-green, .note-lightblue, .note-highlight
    margin: 2em auto 2em  auto !important
    border-radius: 15px
    height: fit-content
    padding: 1em 2em

    .note-title
        font-size: 1.5rem
        font-weight: 900
        margin-top: -1.5em
        background-color: $dark !important
        width: fit-content !important
        padding: 0 12px !important

        @media screen and (max-width: 600px)
            font-size: 1.2rem !important
            margin-top: -1.6em


    p
        padding: 0 !important
        color: white

.note-white
    border: 2px solid rgb(180, 180, 180)
    .note-title
        color: white !important

.note-salmon
    border: 2px solid $salmon

    .note-title
        color: $salmon !important
        // to the right
        float: right


.note-green
    border: 2px solid $green
    .note-title
        color: $green !important

.note-lightblue
    border: 2px solid $lightblue
    .note-title
        color: $lightblue !important

.note-highlight
    border: 2px solid $highlight
    .note-title
        color: $highlight !important
    
@import landing.sass
@import hackathon.sass

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
nav
    background-color: $dark !important

    .navbar-item:hover
        color: $highlight

    .navbar
        height: 120px !important

    img
        width: 120px
        height: 80px
        max-height: 80px !important

    a:hover
        color: white !important
        text-decoration: none

        // transform
        transform: scale(1.02)
        transition: transform 0.25s ease-in-out

    a
        transform: scale(1)
        transition: transform 0.25s ease-in-out


    .navbartitle
        color: white !important
        font-size: 60px
        font-weight: 700
        padding-left: 4rem

    .navbarpage
        color: white !important
        font-size: 30px
        font-weight: 700
        margin-right: 2rem

    .BCII-name-navbar
        font-size: 6rem
        line-height: 4rem
        font-weight: 900
        padding-left: 2rem
        color: white
        font-family: DM Serif Display


/* -------------------------------------------------------------------------- */
/*                                  materials                                 */
/* -------------------------------------------------------------------------- */

.materials-place-holder
    height: 100vh
    background-image: url(../imgs/patterns/diagonal-lines.svg)
    background-repeat: repeat
    background-position: center center
    // background-size: cover

    padding: 5rem
    font-size: 2rem