body {
  background-color: #2A3947 !important;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Nunito Sans;
  color: white;
  font-size: 1rem;
  cursor: default;
  padding-bottom: 3em;
  text-align: justify;
  text-justify: inter-word;
}
body a {
  color: #ad88ff;
  font-weight: 800;
}
body a:hover {
  color: #ffcc67fb;
  font-weight: 900;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                               global elements                              */
/* -------------------------------------------------------------------------- */
.textaccent {
  color: #ffcc67fb !important;
  font-weight: 900;
  text-decoration: underline;
}

.sep-line {
  height: 3px;
  border-radius: 3px;
  background-color: #c8c8c8;
  width: 80%;
  margin: 2rem auto;
}

.fancy-title {
  font-family: Kaushan Script;
  font-size: 4rem;
  color: white;
  margin-left: 2rem;
  margin-top: 2.5em;
}

.img-and-text {
  width: 80%;
  margin: 2em auto;
}
.img-and-text img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}
.img-and-text p {
  display: inline-block;
  vertical-align: top;
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 3rem;
  width: calc(80% - 250px);
}

.img-bg-white {
  background-color: white !important;
}

.float-right {
  float: right;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.float-left {
  float: left;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.center-img-text-around {
  position: relative;
  text-align: center;
  padding: 2em;
}
.center-img-text-around img {
  display: block;
  margin: 2em auto 2em auto;
  width: 20%;
  box-shadow: 0 0 150px 40px rgba(255, 255, 255, 0.1);
}
.center-img-text-around .top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5em;
  margin-top: 1em;
}
.center-img-text-around .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5em;
  margin-bottom: 1em;
}
.center-img-text-around .top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5em;
  margin-top: 1em;
}
.center-img-text-around .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5em;
  margin-bottom: 1em;
}
.center-img-text-around p {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 10px black;
  margin: 0.5em 0 0.5em 0;
}

.narrow {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.unselectable {
  cursor: default;
}

/* -------------------------------------------------------------------------- */
/*                                   LANDING                                  */
/* -------------------------------------------------------------------------- */
.landing-hero {
  height: 100vh;
}
.landing-hero .landing-hero-img {
  max-width: 400px;
  position: absolute;
  top: 40vh;
  left: 5em;
}
.landing-hero .BCII-name {
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 900;
  padding-left: 4rem;
  color: white;
  font-family: Cormorant Upright;
}
.landing-hero .BCII-slogan {
  font-size: 5rem;
  font-family: Cormorant Infant;
  text-align: center;
  line-height: 4.5rem;
  max-width: 70%;
  margin: 4rem 0 2rem auto;
}
.landing-hero .BCII-slogan .slogan-second-line {
  text-decoration: underline;
  font-family: Kaushan Script;
  font-weight: 200;
}
.landing-hero .scroll-down {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 70px;
  bottom: -150px;
}

/* ---------------------------------- event --------------------------------- */
.event-link {
  text-decoration: none !important;
  color: white !important;
}
.event-link .event-info {
  text-decoration: none !important;
}
.event-link:hover .event {
  transform: scale(1.02);
  transition: transform 0.25s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}
.event-link:hover .event .event-img {
  transform: translateX(20px);
  transform: scale(1.1);
  transition: transform 0.25s ease-in-out;
}
.event-link .event {
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}
.event-link .event .event-img {
  transform: translateX(0px);
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
}

.event {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2em;
  border-radius: 10px;
  padding: 1em 20% 1.5em 3em;
  border: 1px solid #c8c8c8;
  background-color: #1E2A35;
  position: relative;
  overflow: hidden;
}
.event .event-img {
  height: 100%;
  position: absolute;
  bottom: -20px;
  right: 0;
  border-radius: 10px;
  width: 20%;
}
.event .event-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.event .event-title {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 0.5em;
  font-family: Teko;
  color: #ffcc67fb;
  position: relative;
}
.event .event-description {
  font-family: Teko;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5em;
  font-family: Space Mono;
  color: white;
  position: relative;
}
.event .event-info {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Space Mono;
  margin-bottom: 0;
}
.event .event-info .event-date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.event .event-info .event-details {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.event-placeholder {
  opacity: 0.5 !important;
}
.event-placeholder .event-title {
  color: white !important;
  opacity: 1 !important;
  font-size: 3rem;
  margin: 0 !important;
}

/* ---------------------------------- team ---------------------------------- */
.team {
  margin-top: 1em;
  margin-bottom: 6em;
}

.team-member {
  background-color: white;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background-color: #2A3947;
  margin: 0 auto;
  padding: 1em;
}
.team-member .team-member-name {
  width: 100%;
  height: 20%;
  z-index: 1;
  padding: 10px;
  font-family: Space Mono;
  font-size: 1.25rem;
  font-weight: 900;
  color: white;
  text-align: center;
}
.team-member .team-member-role {
  font-family: Cormorant Infant !important;
}
.team-member .team-member-img {
  width: 100%;
  height: 80%;
  border-radius: 15px;
  opacity: 0.85;
}
.team-member .team-member-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* -------------------------------- partners -------------------------------- */
.partners {
  margin-bottom: 6em;
}

/* --------------------------------- signup --------------------------------- */
.landing-signup {
  margin: 4em 0 1em 0;
  background-color: white;
  color: black;
  height: 200px;
  width: 100vw;
  padding: 2em 4em 0.2em 4em;
}
.landing-signup .signup-text {
  font-size: 1.5rem;
  font-family: Cormorant Upright;
  margin-bottom: 0.5em;
}
.landing-signup .form-placeholder {
  background-color: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #646464;
  margin-top: 2em;
}

/*# sourceMappingURL=style.css.map */
