body {
  background-color: #2A3947 !important;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Nunito Sans;
  color: white;
  font-size: 1rem;
  cursor: default;
  text-align: justify;
  text-justify: inter-word;
}
body a {
  color: #ad88ff;
  font-weight: 800;
}
body a:hover {
  color: #ffcc67fb;
  font-weight: 900;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */
/*                               global elements                              */
/* -------------------------------------------------------------------------- */
.textaccent {
  color: #ffcc67fb !important;
  font-weight: 900;
  text-decoration: underline;
}

.sep-line {
  height: 3px;
  border-radius: 3px;
  background-color: #c8c8c8;
  width: 80%;
  margin: 2rem auto;
}

.fancy-title {
  font-family: Kaushan Script;
  font-size: 4rem;
  color: white;
  margin-left: 2rem;
  margin-top: 2.5em;
}

.img-and-text {
  width: 80%;
  margin: 2em auto;
}
.img-and-text img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}
.img-and-text p {
  display: inline-block;
  vertical-align: top;
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 3rem;
  width: calc(80% - 250px);
}

.img-bg-white {
  background-color: white !important;
}

.float-right {
  float: right;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.float-left {
  float: left;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.center-img-text-around {
  position: relative;
  text-align: center;
  padding: 2em;
}
.center-img-text-around img {
  display: block;
  margin: 2em auto 2em auto;
  width: 20%;
  box-shadow: 0 0 150px 40px rgba(255, 255, 255, 0.1);
}
.center-img-text-around .top-left {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5em;
  margin-top: 1em;
}
.center-img-text-around .bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5em;
  margin-bottom: 1em;
}
.center-img-text-around .top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5em;
  margin-top: 1em;
}
.center-img-text-around .bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 5em;
  margin-bottom: 1em;
}
.center-img-text-around p {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  text-shadow: 0px 0px 10px black;
  margin: 0.5em 0 0.5em 0;
}

/* -------------------------------------------------------------------------- */
/*                                   LANDING                                  */
/* -------------------------------------------------------------------------- */
.landing-hero {
  height: 100vh;
}
.landing-hero .landing-hero-img {
  max-width: 400px;
  position: absolute;
  top: 40vh;
  left: 5em;
}
.landing-hero .BCII-name {
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 900;
  padding-left: 4rem;
  color: white;
  font-family: Cormorant Upright;
}
.landing-hero .BCII-slogan {
  font-size: 5rem;
  font-family: Cormorant Infant;
  text-align: center;
  line-height: 4.5rem;
  max-width: 70%;
  margin: 4rem 0 2rem auto;
}
.landing-hero .BCII-slogan .slogan-second-line {
  text-decoration: underline;
  font-family: Kaushan Script;
  font-weight: 200;
}
.landing-hero .scroll-down {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 70px;
  bottom: -150px;
}

.landing-content {
  margin-top: 4em;
  height: 4000px;
}
.landing-content .columns {
  width: 90%;
  margin: 3em auto;
}
.landing-content .content-card {
  width: 450px;
  height: 500px;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.landing-content .content-card .content-card-text {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  font-family: Space Mono;
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 0px 0px 5px black;
  color: white;
}
.landing-content .content-card .card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.5;
}

.placeholder .card-img {
  opacity: 0.5 !important;
}
.placeholder .content-card-text {
  color: white !important;
  text-shadow: 0px 0px 10px black !important;
}

.event {
  background-color: #1E2A35;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 2em;
  border: 1px solid #c8c8c8;
}
.event .event-title {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.5em;
  font-family: Teko;
  color: #ffcc67fb;
  position: relative;
}
.event .event-description {
  font-family: Teko;
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5em;
  font-family: Space Mono;
  color: white;
  position: relative;
}
.event .event-info {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Space Mono;
}
.event .event-info .event-date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.event .event-info .event-details {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
