$dark: #2A3947
$darker: #1E2A35
$darkest: #0d1e32
$offwhite: #d5d5d5
$grey: #aabfd1
$highlight: #ffcc67fb
$highlight_bold : #ffcc67fb
$link: rgb(173, 136, 255)
$h4color: #f4d392fb

body
    background-color: $dark !important
    min-height: 100vh
    min-width: 100vw
    font-family: Nunito Sans
    padding-top: 120px  // navbar height
    padding-bottom: 120px  // footer height

    color: white
    font-size: 1.0rem
    cursor: default

    text-align: justify
    text-justify: inter-word

/* --------------------------------- navbar --------------------------------- */
nav
    background-color: $dark !important

    .navbar-item:hover
        color: $highlight

    .navbar
        height: 120px !important

    img
        width: 120px
        height: 80px
        max-height: 80px !important

    .navbartitle
        color: white !important
        font-size: 60px
        font-weight: 700
        padding-left: 4rem

    .navbarpage
        color: white !important
        font-size: 30px
        font-weight: 700
        margin-right: 2rem

/* --------------------------------- footer --------------------------------- */
footer
    background-color: $dark !important
    position: absolute
    bottom: 0
    width: 100%
    border-top: 1px solid white

/* ------------------------------ landing page ------------------------------ */
.landing-hero
    color: $offwhite
    background-color: $darker
    font-size: 4rem
    font-weight: 700
    padding: 2rem 6rem 2rem 6rem


    @media (max-width: 768px)
        padding: 12px 24px
        font-size: 2.5rem
        background-size: 40%


    strong
        color: white
        font-weight: 900
        text-decoration: underline

/* ----------------------------- hackathon page ----------------------------- */
.transparent
    background-color: transparent !important

.hackathon-hero
    color: white
    background-color: $darker
    background-image: url(imgs/header_head_only_transp.png)
    background-repeat: no-repeat
    background-position: bottom right
    background-size: 20%
    
    font-size: 4rem
    font-weight: 700
    padding: 2rem 6rem 2rem 6rem

    @media (max-width: 768px)
        padding: 12px 24px
        font-size: 2.5rem
        background-size: 40%



    strong
        color: white
        font-weight: 900
        text-decoration: underline

.transparent
    color: rgba(0, 0, 0, 0)
    

.highlight
    display: inline
    padding: .1em .25rem
    background: $highlight
    color: $dark
    border-radius: .25em
    font-weight: 900

.development-icon
    color: rgb(180, 180,180)
    font-size: 1.1rem

.description
    margin-top: -4rem
    max-width: 1200px
    margin: 0 auto

    .wwcol
        padding: 0 3rem

        @media (max-width: 768px)
            padding: 0

    .description-content
        padding-left: 300px
        padding-right: 6rem

        @media (max-width: 768px)
            padding: 0px 2rem


        .title
            font-size: 2.5rem
            font-weight: 700
            text-align: center

            @media (max-width: 768px)
                width: 100%

        h1, h2, h3, h4, h5, h6
            color: white
            cursor: default
            scroll-margin-top: 100px

        h2
            margin-top: 7rem
            font-weight: 900

        h4
            font-weight: 800
            font-size: 1.6rem
            padding-left: 2rem
            margin-top: 3rem
            margin-bottom: 0px
            color: $h4color

        p
            color: white
            font-size: 1.2rem
            cursor: default
            font-weight: 200

        b
            color: $highlight_bold

        a
            color: $link
            font-weight: 800

        a:hover
            color: $highlight
            font-weight: 900
            text-decoration: underline

    .toc
        position: fixed
        bottom: 4vh
        left: 0
        width: 225px
        padding-left: 1em

        // hide on mobile
        @media (max-width: 768px)
            display: none   

        a
            font-size: 1.75rem
            font-weight: 800
            margin-top: 2.5rem
            color: $grey

        a:hover
            color: $highlight
            font-weight: 900
            text-decoration: underline


.sponsors-container
    background-color: $darker
    padding: 24px 6rem 2rem 6rem
    margin-top: 2em
    border-radius: 12px
    max-height: 800px
    overflow-y: scroll

    @media (max-width: 768px)
        padding: 24px

    h2
        margin-top: 0px !important
        width: 100% !important

    .sponsor_card
        padding: 2rem
        border-radius: 12px
        max-width: 70%
        margin: 2rem auto

        p
            color: $dark !important

        @media (max-width: 768px)
            max-width: 100%

        img
            margin-bottom: 1rem

        b
            color: $dark !important
            font-weight: 900 !important

        a
            color: black !important
            font-weight: 800

        a:hover
            font-weight: 900
            text-decoration: underline

        .sponsor-name
            font-size: 1.8rem
            font-weight: 900
            margin-bottom: 1rem
            text-decoration: underline

        
    .partner-logo
        height: 100px
        background: white
        margin: 0.5em
        line-height: 100px
        text-align: center

        @media (max-width: 768px)
            max-width: 80%
            margin: 0.5em auto

        img
            max-width: 100%
            height: 80px
            max-height: 80px
            

    .partner-logo-transparent
        background: transparent
        

/* ----------------------------- materials page ----------------------------- */

.imgcontainer
    border-radius: 24px
    margin: 1rem 0px

    img
        border-radius: 24px
        max-width: 50%
        max-height: 100%

        @media (max-width: 768px)
            max-width: 100%


    p
        font-size: .9rem !important

.materials
    padding: 2rem 6rem 2rem 6rem

    @media (max-width: 768px)
        padding: 12px 24px

    h1, h2, h3, h4, h5, h6
        color: white
        cursor: default

    h1
        font-size: 2rem
        margin-top: 2em
        font-weight: 900
        margin-bottom: .5rem

    h2
        font-size: 1.3rem
        margin-top: .5em
        font-weight: 700
        

    a
        color: $link
        font-weight: 800

    a:hover
        color: $highlight
        font-weight: 900
        text-decoration: underline

